@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* For IE and Edge */
.scrollbar-blue {
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
}

/* For Firefox */
.scrollbar-blue {
  scrollbar-width: thin;  /* Thin scrollbar */
  scrollbar-color: blue transparent;  /* Blue thumb, transparent track */
}

/* For WebKit browsers (Chrome, Safari, Opera) */
.scrollbar-blue::-webkit-scrollbar {
  width: 10px;  /* Very thin scrollbar */
}

.scrollbar-blue::-webkit-scrollbar-thumb {
  background-color: blue;  /* Blue thumb */
  border-radius: 5;     /* Rounded thumb */
}

.scrollbar-blue::-webkit-scrollbar-track {
  background-color: transparent;  /* Transparent track */
}

/* Hide scrollbar buttons (arrows) */
.scrollbar-blue::-webkit-scrollbar-button {
  display: none;  /* Remove up/down buttons */
}

@font-face {
  font-family: 'Britanic';
  src: url('/fonts/Britannic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-Britanic {
    font-family: 'Britanic', sans-serif;
  }

  .font-Poppins {
    font-family: 'Poppins', sans-serif;
  }

  .font-Bebasneue {
    font-family: 'BebasNeue', sans-serif;
  }

  .font-Roboto {
    font-family: 'Roboto', sans-serif;
  }
}

.gradient-text {
  font-size: 2rem; /* Adjust size as needed */
  font-weight: bold; /* Optional */
  background: linear-gradient(90deg, #2629D3 0%, #2193BC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
